
@{
//ViewBag.Title = "TestAPI";
}

<style>
    .input-group {
        width: 100%;
    }

    .input-group-addon {
        width: 140px !important;
    }

    .center-panel{
        position:absolute;
        top:40%;
        text-align:center;
    }
</style>
@using (Html.BeginForm("AdjustVideo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid center-panel" >
        <div class="col-lg-12">
            <div class="input-group">
                <label class="input-group-addon">选择要去重的视频:</label>
                <input id="requestData" type="file" class="form-control input-file" name="file" />
                <input type="submit" id="btn-sub" class="btn btn-danger" value="开始去重" />
            </div>
        </div>
    </div>
}
<script>
    function ajax_sub() {
        var url = "/api/Convert/AdjustVideo";
        var method = "Post";
        var contenttype = "application/x-www-form-urlencoded";
        var Data = $('#requestData')[0].files[0];
        var response = $("#video")
        ajax_stream(url, Data, method, contenttype, response)
        //"application/x-www-form-urlencoded"
    }
    function ajax_stream(url, data, method, contenttype, element) {
        var xmlHttp = null;
        if (window.XMLHttpRequest) {// code for IE7, Firefox, Opera, etc.
            xmlHttp = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) {// code for IE6, IE5
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        if (xmlHttp == null) {
            alert("Your browser does not support XMLHTTP.");
            element.val('Your browser does not support XMLHTTP. Click the LOG link to monitor the procedure.');
            return 0;
        }
        var xhr = xmlHttp;
        xhr.open(method, url, true);
        // 如果需要像 HTML 表单那样 POST 数据，请使用 setRequestHeader() 来添加 HTTP 头。然后在 send() 方法中规定您希望发送的数据：
        xhr.setRequestHeader("Content-type", contenttype);
        xhr.send(data);
        var timer;
        timer = window.setInterval(function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                window.clearTimeout(timer);
            }
            element.attr('src', xhr.responseText);
            //element.val(xhr.responseText);
            window.location.open = xhr.responseText;
        }, 1000);
    }
</script>
